.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background: #fff;
}

.login-image {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.login-image img {
  max-width: 100%;
  height: auto;
}

.login-header img {
  width: 250px;
  height: auto;
  margin-bottom: 50px;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.input-container label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: left;
  width: 70%; /* Match the width of the input */
}

.input-container input {
  padding: 0.75rem;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  height: 40px;
  text-align: left;
}

.password-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.password-container input {
  width: 70%;
}

.password-container button {
  position: absolute;
  right: 10px;
  margin-top: 17px;
  margin-right: 85px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  padding-left: 3em;
  width: 100%;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}


.login-btn {
  width: 70%;
  padding: 0.75rem;
  background: #4c6ef5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  display: block;
  margin: 0 auto;
}

.register-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}