<div class="login-container">
  <div class="login-box">
    <div class="login-header">
      <img src="./assets/images/logos/dark-logo.svg" alt="InternPortal Logo" style="height: 50px; width: auto; align-items: center;"/>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-container">
        <label for="email">Email Address<span style="color: red;">*</span></label>
        <input id="email" formControlName="email" type="email"
          [placeholder]="f.email.touched && f.email.errors?.['required'] ? 'Email is required' : 'Enter your email'"
          [ngClass]="{'is-invalid': f.email.touched && f.email.invalid, 'error-text': f.email.touched && f.email.invalid}" />
      </div>

      <div class="input-container password-container">
        <label for="password">Password <span style="color: red;">*</span></label>
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" id="password"
          [placeholder]="f.password.touched && f.password.errors?.['required'] ? 'Password is required' : 'Enter your password'"
          [ngClass]="{'is-invalid': f.password.touched && f.password.invalid, 'error-text': f.password.touched && f.password.invalid}" />
        <button type="button" (click)="togglePasswordVisibility()" class="toggle-password-btn">
         
<mat-icon *ngIf="hidePassword" style="align-self: right;">visibility_off</mat-icon>
<mat-icon *ngIf="!hidePassword" style="align-self: right;">visibility</mat-icon>
        </button>
      </div>

      <div class="checkbox-container">
        <input id="remember" formControlName="remember" type="checkbox" />
        <label for="remember">  Remember Me</label>
      </div>

      <button type="submit" class="login-btn">Login</button>
    </form>

    <span class="register-text">
      New to InternPortal?
      <a [routerLink]="['/authentication/register']" class="text-primary">Create an account</a>
    </span>
  </div>

  <div class="login-image">
    <img src="./assets/images/login-image.png" alt="Login Illustration" />
  </div>
</div>