<div class="container">
  <h2 class="page-title">Intern Performance Reviews</h2>

  <!-- Collapsible Search Bar -->
  <div class="search-bar-container">
    <i class="bi bi-search search-icon" (click)="toggleSearchBar()"></i>
    <div *ngIf="showSearchBar" class="search-bar">
      <input type="text" [(ngModel)]="searchQuery" (input)="filterReviews()" placeholder="Search by name..." />
    </div>
  </div>

  <table class="reviews-table">
    <thead>
      <tr>
        
        <th (click)="sortReviews('fullName')">Full Name</th>
        <th (click)="sortReviews('mentorName')">Mentor</th>
        <th>Ratings</th>
        <th>Feedback</th>
        <th (click)="sortReviews('overallRating')">Overall Rating</th>
        <th (click)="sortReviews('reviewMonth')">Review Month</th> <!-- Add Review Month column -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of filteredReviews">
        
        <td>{{ review.fullName }}</td>
        <td>{{ review.mentorName }}</td>
        <td>
          <ul>
            <li *ngFor="let key of review.ratingKeys">
              {{ getLabelForKey(key) }}:
              {{ getRatingDescription(review.ratings[key]) }}
            </li>
          </ul>
        </td>
        <td>{{ review.feedback }}</td>
        <td>{{ review.overallRating | number: '1.1-1' }}</td>
        <td>{{ review.reviewMonth }}</td> <!-- Display Review Month -->
      </tr>
    </tbody>
  </table>
</div>