<div class="register-container">
  <div class="register-box">
    <div class="register-header">
      <img src="./assets/images/logos/dark-logo.svg" alt="InternPortal Logo" />
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-container">
        <label for="username">Name *</label>
        <input id="username" formControlName="username" type="text"
          [ngClass]="{'is-invalid': form.get('username')?.invalid && form.get('username')?.touched}" />
        <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched" class="invalid-feedback">
          Name is required
        </div>
      </div>

      <div class="input-container">
        <label for="email">Email Address *</label>
        <input id="email" formControlName="email" type="email"
          [ngClass]="{'is-invalid': form.get('email')?.invalid && form.get('email')?.touched}" />
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="invalid-feedback">
          Valid email is required
        </div>
      </div>

      <div class="input-container">
        <label for="password">Password *</label>
        <input id="password" formControlName="password" type="password"
          [ngClass]="{'is-invalid': form.get('password')?.invalid && form.get('password')?.touched}" />
        <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="invalid-feedback">
          Password is required
        </div>
      </div>

      <div class="input-container">
        <label for="confirmPassword">Confirm Password *</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password"
          [ngClass]="{'is-invalid': form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched}" />
        <div *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched"
          class="invalid-feedback">
          Confirm Password is required
        </div>
        <div
          *ngIf="form.get('password')?.value !== form.get('confirmPassword')?.value && form.get('confirmPassword')?.touched"
          class="invalid-feedback">
          Passwords do not match
        </div>
      </div>

      <div class="input-container">
        <label for="role">Role *</label>
        <select id="role" formControlName="role">
          <option value="Intern">Intern</option>
          <option value="Mentor">Mentor</option>
          <option value="Admin">Admin</option>
        </select>
      </div>

      <button type="submit" class="register-btn">Create Account and Login</button>
    </form>

    <span class="register-text">
      Already have an Account?
      <a [routerLink]="['/authentication/login']" class="text-primary">Sign In</a>
    </span>
  </div>

  <div class="register-image">
    <img src="./assets/images/login-image.png" alt="Register Illustration" />
  </div>
</div>

<div *ngIf="showNotification" class="notification">
  {{ notificationMessage }}
</div>