<div class="container">
    <!-- Profile Header Section -->
    <div class="profile-header">
      <div class="profile-image-container">
        <img [src]="profileImage || 'assets/default-profile.png'" alt="Profile Picture" class="profile-image">
        <input type="file" id="imageUpload" (change)="onImageUpload($event)" accept="image/*">
      </div>
      <div class="profile-info">
        <h2>Name : {{ userProfile.name }}</h2>
        <p class="email"><strong>Email:</strong> {{ userProfile.email }}</p>
        <p><strong>Role:</strong> {{ userProfile.role }}</p>
      </div>
    </div>
     <!-- Learning Path Section -->
     <div class="section-container">
      <div class="section-card">
        <h2 class="section-title">Personal Information</h2>
        <div class="grid-container">
          
            <p><strong>Name:</strong> {{ userProfile.name }}</p>
            <p><strong>Email:</strong> {{ userProfile.email }}</p>
            <p><strong>role:</strong> {{ userProfile.role }}</p>
          
        </div>
      </div>
    </div>
  
    <!-- Learning Path Section -->
    <div class="section-container">
      <div class="section-card">
        <h2 class="section-title">Learning Path</h2>
        <div class="grid-container">
          <div *ngFor="let path of learningPaths" class="grid-item">
            <p><strong>Name:</strong> {{ path.name }}</p>
            <p><strong>Status:</strong> {{ path.status }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Goals Section -->
    <div class="section-container">
      <div class="section-card">
        <h2 class="section-title">Goals</h2>
        <div class="grid-container">
          <div *ngFor="let goal of goals" class="grid-item">
            <p><strong>Name:</strong> {{ goal.goalName }}</p>
            <p><strong>Description:</strong> {{ goal.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <app-slearning></app-slearning>
    <app-userprofile></app-userprofile>
  
    <!-- POCs & Projects Section -->
    <div class="section-container">
      <div class="section-card">
        <h2 class="section-title">POCs & Projects</h2>
        <div class="grid-container">
          <div *ngFor="let project of pocProjects" class="grid-item">
            <p><strong>Name:</strong> {{ project.projectName }}</p>
            <p><strong>Status:</strong> {{ project.status }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
