/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Full Page Layout */
.blank-layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8fafc;
}

/* Auth Box */
.boxed-auth {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

/* Form Styles */
form {
  margin-top: 30px;
}

.form-group {
  margin-bottom: 10px; /* Reduced margin */
}

form label {
  font-weight: 600;
  color: #333;
  font-size: 14px;
  display: block;
  margin-bottom: 3px; /* Reduced margin */
}

form input,
form select {
  width: 100%;
  padding: 6px; /* Reduced padding */
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  margin-bottom: 5px; /* Reduced margin */
  box-sizing: border-box;
}

form select {
  background-color: #fff;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 .708-.708"/>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px; /* Adjusted padding */
}

.cardWithShadow {
  display: flex;
  flex-direction: row;
}

.carousel-container {
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.carousel-inner img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}