<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <div class="cardWithShadow boxed-auth">
        <div class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
            </a>
          </div>

          <h2 class="f-w-600 text-center m-b-10">Create New Account</h2>
          <form (ngSubmit)="submit()" [formGroup]="form" class="m-t-30">
            <label for="username" class="f-s-14 f-w-600 m-b-12 d-block">Name</label>
            <input type="text" id="username" class="form-control" formControlName="username" required />

            <label for="email" class="f-s-14 f-w-600 m-b-12 d-block">Email Address</label>
            <input type="email" id="email" class="form-control" formControlName="email" required />

            <label for="password" class="f-s-14 f-w-600 m-b-12 d-block">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password" required />

            <label for="role" class="f-s-14 f-w-600 m-b-12 d-block">Role</label>
            <select id="role" class="form-control" formControlName="role" required>
              <option value="Intern">Intern</option>
              <option value="Mentor">Mentor</option>
              <option value="Admin">Admin</option>
            </select>

            <div class="button-container" style="padding: 20px 0;">
              <button type="submit" class="w-100 f-s-14 d-block btn btn-primary">
                Create Account and Login
              </button>
            </div>

          </form>

          <span class="d-block f-w-500 text-center m-t-24">Already have an Account?
            <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Sign In</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>