<div class="container">
  <!-- First Row: Title -->
  <div class="row">
    <div class="col-lg-8">
      <h1 class="mb-4">Welcome to InternPortal</h1>
      <h3>Your destination for tracking growth</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="section-card">
        <h2 class="section-title">Stats</h2>
        <app-dashboardc></app-dashboardc>
      </div>
    </div>

    <!-- Fourth Row: Full-width Section (Future Use) -->
    <div class="row">
      <div class="col-12"></div>
    </div>
  </div>
</div>
