<div class="row">
  <div class="col-lg-8">
    <h1 class="f-w-700">Welcome to InternPortal</h1>
    <h2>Your Destination to track growth</h2>
  </div>
<div class="row">
  <!-- <div class="col-lg-8">
    <app-sales-overview></app-sales-overview>
  </div> -->
  <div class="col-lg-4">
    <app-yearly-breakup></app-yearly-breakup>
    <app-monthly-earnings></app-monthly-earnings>
  </div>
</div>
<app-poc-projects></app-poc-projects>

<div class="row">
  <div class="col-lg-4">
    
  </div>
  <div class="col-lg-8">
   <app-product-performance></app-product-performance>
  </div>
</div>

<!-- <div class="row">
  <div class="col-12">
    <app-blog-card></app-blog-card>
  </div>
</div> -->