<div class="container">
  <!-- Profile Header Section -->
  <div class="profile-header">
    <div class="profile-image">
      <label for="fileInput">
        <img *ngIf="profileImage" [src]="profileImage" alt="Profile Image" class="rounded-circle" width="100"
          height="100">
        <img *ngIf="!profileImage" src="../../../assets/images/profile/profile.jpg" alt="Default Profile Image" class="rounded-circle"
          width="100" height="100">
        <i class="camera-icon bi bi-camera"></i>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
      </label>
      <button *ngIf="selectedFile && !isUploading && !isUploaded" (click)="uploadImage()">Upload Image</button>
    </div>
    <div class="profile-info">
      <h4><strong>{{ userProfile.name }}</strong></h4>
      <h6><strong>Email:</strong> {{ userProfile.email }}</h6>
      <h6><strong>Role:</strong> {{ userProfile.role }}</h6>
    </div>
  </div>

  <!-- Tab Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-nav">
        <a class="nav-link" [class.active]="activeTab === 'about'" (click)="setActiveTab('about')" style="cursor: pointer;">About</a>
        <a class="nav-link" [class.active]="activeTab === 'details'" (click)="setActiveTab('details')" style="cursor: pointer;">Details</a>
        <a class="nav-link" [class.active]="activeTab === 'experience'" (click)="setActiveTab('experience')" style="cursor: pointer;">Experience</a>
        <a class="nav-link" [class.active]="activeTab === 'skills'" (click)="setActiveTab('skills')" style="cursor: pointer;">Skills</a>
      </div>
    </div>
  </nav>

  <!-- Tab Content -->
  <div class="tab-content">
    <div *ngIf="activeTab === 'about'" class="about-section">
      <div class="edit-button-container">
        <button (click)="toggleEditAbout()" class="edit-button">
          <mat-icon>{{ isEditingAbout ? 'close' : 'edit' }}</mat-icon>
        </button>
      </div>
      <div *ngIf="isEditingAbout">
        <textarea [(ngModel)]="userProfile.about" rows="10" cols="80" placeholder="Enter about information..." class="about-textarea"></textarea>
        <button (click)="saveAboutSection()" class="save-button">Save</button>
      </div>
      <div *ngIf="!isEditingAbout">
        <p>{{ userProfile.about }}</p>
      </div>
      <div *ngIf="notificationMessage" class="notification-message">{{ notificationMessage }}</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
    <div *ngIf="activeTab === 'details'">
      <app-user-details [userName]="userProfile.name"></app-user-details>
    </div>
    <div *ngIf="activeTab === 'experience'" class="experience-section">
      <h4>Experience</h4>
      <app-experience></app-experience>
    </div>
    <div *ngIf="activeTab === 'skills'" class="skills-section">
      <h4>Skills</h4>
      <ul>
        <li *ngFor="let skill of userProfile.skills">{{ skill }}</li>
      </ul>
      <div class="input-group">
        <input [(ngModel)]="newSkill" placeholder="Add new skill" />
        <button (click)="addSkill()">Add</button>
      </div>
    </div>
  </div>
</div>