<div class="container">
  <!-- Profile Header Section -->
  <div class="profile-header">
    <div class="profile-image">
      <label for="fileInput">
        <img *ngIf="profileImage" [src]="profileImage" alt="Profile Image" class="rounded-circle" width="100"
          height="100">
        <img *ngIf="!profileImage" src="assets/default-profile.png" alt="Default Profile Image" class="rounded-circle"
          width="100" height="100">
        <i class="camera-icon bi bi-camera"></i>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
      </label>
      <button *ngIf="selectedFile && !isUploading && !isUploaded" (click)="uploadImage()">Upload Image</button>
    </div>
    <div class="profile-info">
      <h4><strong>{{ userProfile.name }}</strong></h4>
      <h6><strong>Email:</strong> {{ userProfile.email }}</h6>
      <h6><strong>Role:</strong> {{ userProfile.role }}</h6>
    </div>
  </div>

  <!-- Tab Bar -->
  <div class="tab-bar">
    <button [class.active]="activeTab === 'about'" (click)="setActiveTab('about')">About</button>
    <button [class.active]="activeTab === 'details'" (click)="setActiveTab('details')">Details</button>
    <button [class.active]="activeTab === 'experience'" (click)="setActiveTab('experience')">Experience</button>
    <button [class.active]="activeTab === 'skills'" (click)="setActiveTab('skills')">Skills</button>
  </div>

  <!-- Tab Content -->
  <div class="tab-content">
    <div *ngIf="activeTab === 'about'" class="about-section">
      <h4>About</h4>
      <textarea [(ngModel)]="userProfile.about" rows="10" cols="80" placeholder="Enter about information..." class="about-textarea"></textarea>
      <button (click)="saveAboutSection()" class="save-button">Save</button>
      <div *ngIf="notificationMessage" class="notification-message">{{ notificationMessage }}</div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
    <div *ngIf="activeTab === 'details'">
      <app-user-details [userName]="userProfile.name"></app-user-details>
    </div>
    <div *ngIf="activeTab === 'experience'">
      <h4>Experience</h4>
      <app-experience></app-experience>
    </div>
    <div *ngIf="activeTab === 'skills'">
      <h4>Skills</h4>
      <p>{{ userProfile.skills }}</p>
    </div>
  </div>
</div>