
  

  <!-- Skill Input -->
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="newSkill" placeholder="Add a skill">
    <button class="btn btn-primary" (click)="addSkill()" style="background-color: #D2E5F6; color: black;">Add</button>
  </div>

  <!-- Skills List -->
  <div class="skills-list">
    <span *ngFor="let skill of skills" class="badge bg-primary me-2">
      {{ skill }}
      <i class="bi bi-x-circle ms-1" (click)="removeSkill(skill)"></i>
    </span>
  </div>
