<div class="dashboard-header">
  <h1>Via-Aspire</h1>
  <h3><i>InternVision – See the Progress, Be the Change.</i></h3>
</div>

<div class="dashboard-container">
  <div class="stats-box row">
    <div class="card">
      <h1>Total Interns</h1>
      <div *ngIf="totalInterns !== undefined">
        <p>{{ totalInterns }}</p>
      </div>
      <div *ngIf="totalInterns === undefined">
        <p class="error-container">Something's wrong... try reloading</p>
      </div>
    </div>
    <div class="card">
      <h1>Total Mentors</h1>
      <div *ngIf="totalMentors !== undefined">
        <p>{{ totalMentors }}</p>
      </div>
      <div *ngIf="totalMentors === undefined">
        <p class="error-container">Something's wrong... try reloading</p>
      </div>
    </div>
    <div class="card">
      <h1>Aggregate Intern Goals</h1>
      <div *ngIf="allGoalsCount !== undefined">
        <p>{{ allGoalsCount }}</p>
      </div>
      <div *ngIf="allGoalsCount === undefined">
        <p class="error-container">Something's wrong... try reloading</p>
      </div>
    </div>
  </div>
  <div class="stats-box row">
    <div class="card">
      <h1>Total POCs</h1>
      <div *ngIf="totalPocs !== undefined">
        <p>{{ totalPocs }}</p>
      </div>
      <div *ngIf="totalPocs === undefined">
        <p class="error-container">Something's wrong... try reloading</p>
      </div>
    </div>
    <div class="card">
      <h1>In Progress POCs</h1>
      <div *ngIf="inProgressPocs !== undefined">
        <p>{{ inProgressPocs }}</p>
      </div>
      <div *ngIf="inProgressPocs === undefined">
        <p class="error-container">Something's wrong... try reloading</p>
      </div>
    </div>
    <div class="card">
      <h1>Completed POCs</h1>
      <div *ngIf="completedPocs !== undefined">
        <p>{{ completedPocs }}</p>
      </div>
      <div *ngIf="completedPocs === undefined">
        <p class="error-container">Something's wrong... try reloading</p>
      </div>
    </div>
  </div>
  <div class="charts-box row">
    <div class="card pie-chart-card">
      <h1>POC Status Distribution</h1>
      <div *ngIf="totalPocs !== undefined">
        <canvas id="pocPieChart"></canvas>
      </div>
      <div *ngIf="totalPocs === undefined">
        <p class="error-container">Something's wrong... try reloading</p>
      </div>
    </div>
  </div>
</div>