<div class="container">
  <h2>All Goals</h2>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  
  <!-- Filter Section -->
  <div class="filter-section">
    <button (click)="toggleDropdown()" class="btn btn-primary " style="background-color: #D2E5F6; color: black;">Filter by Username</button>
    <div *ngIf="showDropdown" class="dropdown-menu">
      <div *ngFor="let username of uniqueUsernames">
        <input type="checkbox" [value]="username" (change)="onCheckboxChange($event)" /> {{ username }}
      </div>
      <button (click)="applyFilter()" class="btn btn-secondary">Apply Filter</button>
    </div>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Goal Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let goal of filteredGoals">
        <td>{{ goal.username }}</td>
        <td>{{ goal.goalName }}</td>
        <td>{{ goal.description }}</td>
        <td>{{ goal.status }}</td>
        <td>{{ goal.startDate | date:'shortDate' }}</td>
        <td>{{ goal.endDate | date:'shortDate' }}</td>
        <td>{{ goal.createdAt | date:'short' }}</td>
      </tr>
    </tbody>
  </table>
</div>