<div class="dashboard-container">
 
  <div class="dashboard-widgets">
    <div class="widget">
      <p class="widget-title">Goals Count</p>
      <div *ngIf="goalCount !== undefined">
        <h2 class="widget-value">{{ goalCount }}</h2>
      </div>
      <div *ngIf="goalCount === undefined">
        <p style="color: #474747;">Opps! Somethings wrong</p>
      </div>
    </div>
    <div class="widget">
      <p class="widget-title">Total POCs</p>
      <div *ngIf="pocCount !== undefined">
        <h2 class="widget-value">{{ pocCount.totalPocs }}</h2>
      </div>
      <div *ngIf="pocCount === undefined">
        <p style="color: #474747;">Opps! Somethings wrong</p>
      </div>
    </div>
    <div class="widget">
      <p class="widget-title">In Progress POCs</p>
      <div *ngIf="pocCount !== undefined">
        <h2 class="widget-value">{{ pocCount.inProgressPocs }}</h2>
      </div>
      <div *ngIf="pocCount === undefined">
        <p style="color: #474747;">Opps! Somethings wrong</p>
      </div>
    </div>
    <div class="widget">
      <p class="widget-title">Completed POCs</p>
      <div *ngIf="pocCount !== undefined">
        <h2 class="widget-value">{{ pocCount.completedPocs }}</h2>
      </div>
      <div *ngIf="pocCount === undefined">
        <p style="color: #474747;">Opps! Somethings wrong</p>
      </div>
    </div>
  </div>

  <!-- Graph Sections -->
  <div class="graph-sections">
    <!-- Mentor Feedback -->
    <div class="graph-container ">
      <p class="widget-title">Mentor feedback</p>
      <div *ngIf="userId">
        <div style="margin-bottom: 20px;">
          <label for="monthSelect" style=" margin-right: 10px;" >Select Month:</label>
          <select id="monthSelect" [(ngModel)]="selectedMonth" (change)="fetchInternFeedback()" style="padding: 5px; border-radius: 5px; border: 1px solid #ccc;">
            <option value="Select" selected disabled>Select Month</option>
            <option *ngFor="let month of availableMonths" [value]="month">{{ month | date: 'MMMM yyyy' }}</option>
          </select>
        </div>

        <div *ngIf="feedbackData">
          
          <p>{{ feedbackData.feedback }}</p>
          <!-- Add more fields as needed -->
        </div>

        <canvas id="internRadarChart"></canvas>
      </div>
      <div *ngIf="!userId">
        <p style="color: #474747;">Your mentor is yet to review you</p>
      </div>
    </div>

    <!-- Learning Path Progress -->
    <div class="graph-container">
      <h3 class="graph-title">Individual Learning Path Progress</h3>
     
      <div *ngIf="learningPathProgress.length >= 0">
        <canvas id="learningPathPieChart"></canvas>
      </div>
      <p *ngIf="learningPathProgress.length === 0" style="color: #474747;">No learning paths available</p> 
       
    </div>

    <!-- POC Status Distribution -->
    <div class="graph-container poc-pie-chart-container">
      <h3 class="graph-title">POC Status Distribution</h3>
      <div *ngIf="pocCount">
        <canvas id="pocPieChart"></canvas>
      </div>
      <div *ngIf="!pocCount">
        <p style="color: #474747;">Opps! Somethings wrong</p>
      </div>
    </div>

    
  </div>
</div>