<!-- Add this line to include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- Add this line to include Bootstrap Icons CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

<div class="goals-container">
  <div>
    <h2 class="goals-title">Set Your Goals</h2>

    <!-- Form for entering goals -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="goals-form">

      <!-- Goal Name -->
      <div class="form-group">
        <label for="goalName" class="form-label">Goal Name:</label>
        <input id="goalName" formControlName="goalName" type="text" class="form-input"
          placeholder="Enter your goal name" />
        <div *ngIf="form.get('goalName')?.invalid && form.get('goalName')?.touched" class="error-message">
          Goal name is required.
        </div>
      </div>

      <!-- Goal Description -->
      <div class="form-group">
        <label for="goalDescription" class="form-label">Goal Description:</label>
        <input id="goalDescription" formControlName="goalDescription" type="text" class="form-input"
          placeholder="Enter goal description" />
        <div *ngIf="form.get('goalDescription')?.invalid && form.get('goalDescription')?.touched" class="error-message">
          Goal description is required.
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-actions">
        <button type="submit" class="submit-button" [disabled]="form.invalid">Save Goal</button>
      </div>
    </form>
  </div>

  <!-- Display saved goals -->
  <div *ngIf="goals.length > 0" class="saved-goals-container">
    <h3 class="saved-goals-title">Your Saved Goals:</h3>
    <div *ngFor="let goal of goals" class="goal">
      <div class="goal-header">
        <div class="goal-name">
          <strong class="goal-label">Goal Name:</strong> <strong>{{ goal.goalName }}</strong>
        </div>

        <i class="bi bi-trash" (click)="deleteGoal(goal._id)"></i>

      </div>
      <div class="goal-description"><strong>Description:</strong> {{ goal.description }}</div>
      <div class="goal-created"><strong>Created At:</strong> {{ goal.createdAt | date: 'short' }}</div>
    </div>
  </div>
  <!-- Show message when no goals are available -->
  <div *ngIf="goals.length === 0" class="no-goals-message">
    You have not set any goals yet. Start by adding a goal above!
  </div>
</div>