<div class="container">
    <h2 class="mentor-list-title">Mentor List</h2>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <table class="mentor-table table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Assign Interns</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mentor of mentors">
                <td>{{ mentor.username }}</td>
                <td>{{ mentor.email }}</td>
                <td>
                    <div *ngFor="let intern of interns">
                        <input type="checkbox" [value]="intern.id" (change)="onCheckboxChange($event, mentor.id)" /> {{
                        intern.username }}
                    </div>
                    <button (click)="assignInternsToMentor(mentor.id)">Assign</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>