<mat-sidenav-container
  class="mainWrapper blue_theme light-theme"
  autosize
  autoFocus
  dir="ltr"
>
  <!-- ============================================================== -->
  <!-- Vertical Sidebar -->
  <!-- ============================================================== -->

  <mat-sidenav
    #leftsidenav
    [mode]="isOver ? 'over' : 'side'"
    [opened]="!isOver"
    (openedChange)="onSidenavOpenedChange($event)"
    (closedStart)="onSidenavClosedStart()"
    class="sidebarNav"
  >
  <app-branding></app-branding>
    <div class="flex-layout">
      <app-sidebar
        (toggleMobileNav)="leftsidenav.toggle()"
        [showToggle]="isOver"
      ></app-sidebar>
      
      <ng-scrollbar class="position-relative" style="height: 100%">
        <mat-nav-list class="sidebar-list">
          <ng-container *ngIf="userRole === 'Intern'">
            <ng-container *ngFor="let item of internNavItems">
              <app-nav-item
                [item]="item"
                (notify)="leftsidenav.toggle()"
              ></app-nav-item>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="userRole === 'Mentor'">
            <ng-container *ngFor="let item of mentorNavItems">
              <app-nav-item
                [item]="item"
                (notify)="leftsidenav.toggle()"
              ></app-nav-item>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="userRole === 'Admin'">
            <ng-container *ngFor="let item of adminNavItems">
              <app-nav-item
                [item]="item"
                (notify)="leftsidenav.toggle()"
              ></app-nav-item>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="userRole !== 'Intern' && userRole !== 'Admin' && userRole !== 'Mentor'">
            <p> role: not defined</p>
          </ng-container>
        </mat-nav-list>
      </ng-scrollbar>
      <div class="p-24"></div>
      <div
        class="bg-light-primary d-flex align-items-center gap-4 rounded p-20 m-t-20"
      >
        <div>
          <!-- Additional content can go here -->
        </div>
        <!-- <img src="/assets/images/backgrounds/rocket.png" alt="image" class="side-img m-t--48" /> -->
      </div>
    </div>
  </mat-sidenav>

  <!-- ============================================================== -->
  <!-- Main Content -->
  <!-- ============================================================== -->
  <mat-sidenav-content class="contentWrapper" #content>
    <!-- ============================================================== -->
    <!-- VerticalHeader -->
    <!-- ============================================================== -->

    <app-header
      [showToggle]="!isOver"
      (toggleCollapsed)="toggleCollapsed()"
      (toggleMobileNav)="leftsidenav.toggle()"
    ></app-header>

    <main class="pageWrapper maxWidth">
      <!-- ============================================================== -->
      <!-- Outlet -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>