<div class="blank-layout-container">
  <div class="boxed-auth">
    <div class="login-header">
      <img src="./assets/images/logos/dark-logo.svg" alt="InternPortal Logo" />
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div>
        <label for="email">Email Address</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter your email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" placeholder="Enter your password" />
      </div>
      <div>
        <input id="remember" formControlName="remember" type="checkbox" />
        <label for="remember">Remember Me</label>
      </div>
      <button type="submit">Login</button>
    </form>

    <span class="f-w-500">
      New to InternPortal?
      <a [routerLink]="['/authentication/register']" class="text-primary">
        Create an account</a>
    </span>
  </div>
</div>