.login-container {
  display: flex;
  height: 100vh;
}

.login-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 2rem;
  background: #fff;
}

.login-image {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
}

.login-image img {
  max-width: 100%;
  height: 100%;
}

.login-header img {
  width: 300px;
  /* Further increase the size of the logo */
  height: auto;
  margin-bottom: 50px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  /* Ensure full width for consistency */
}

.input-container label {
  font-weight: 600;
  /* Make labels bold */
  margin-bottom: 0.5rem;
}

.input-container input {
  padding: 0.75rem;
  /* Adjust padding */
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  height: 40px;
}

.password-container {
  position: relative;
}

.password-container input {
  width: 70%;
}

.password-container button {
  position: absolute;
  right: 10px;
  margin-top: 17px;
  margin-right: 85px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Align with 'Forgot password?' */
  width: 40%;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  margin-left: 0;
  /* Move label next to checkbox */
}

.login-btn {
  width: 70%;
  padding: 0.75rem;
  background: #4c6ef5;
  /* Adjust button color to match */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.register-text {
  margin-top: 1rem;
  font-size: 0.9rem;
}